<div class='bg-white rounded-lg overflow-hidden shadow-md'>
  <div class='p-4'>
    <div class='text-xl font-medium text-black'>{{@product.name}}</div>
    <p class='text-slate-500'>{{@product.price}}</p>
  </div>
</div>